
<div class="container mt-5 ">

    <div class="post-card">
        <div class="post-header">
            This is a test
            <p class="post-auth">This is an even greater test</p>
        </div>
        <p class="post-body">This is also a test</p>
    </div>
  
</div>
